{% extends 'base.html.twig' %}

{% block title %}New ShopItemsInventory{% endblock %}

{% block stylesheets %}
     <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<style>
body{
        margin:0;
        padding:0;
        font-family: "Playfair Display", serif;
        background:#2b3f47;
        color:#fff;
}
a{
    color:white;
    text-decoration:none;
   
}

.btn{
   
}
</style>
    <h1>Create new ShopItemsInventory</h1>

    {{ include('shop_items_inventory/_form.html.twig') }}

    <a href="{{ path('app_shop_items_inventory_index') }}" class ="btn ">Back to list</a>
{% endblock %}
